.git
.github
node_modules
vendor
.env
.env.backup
.phpunit.result.cache
npm-debug.log
pnpm-lock.yaml
package-lock.json
composer.lock
database/*.sqlite
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose.yml
Dockerfile
.dockerignore
